body {
  background-color: #44bb99;
  font-family: arial, sans-serif;
}

* {
  margin: 0;
  font-size: 24px
}

td, th {
  text-align: left;
  padding: 8px;
  font-size: 18px;
}

th{
  background-color: #3CB371;
}

table {

  border-collapse: collapse;
  width: 100%;
}

tr:nth-child(even) {
  background-color: #3CB371;
}

.title {
  display: table;
  margin: 20px auto;
  font-size: 72px;
  color: white;
}

.table {
  display: table;
  margin: 15px auto 15px auto;
  font-size: 1.5em;
  border: 5px solid black;
}

.output {
  display: table;
  margin: 15px auto 15px auto;
  width: 750px;
}

.inputFile {
  ;
}

.inputKey {
  display: flex;
}

.inputKeyElement {
  padding-right: 0.3125em;
}
